[2014-09-22 14:53] justinmakaila opened #1 "[Question] @IBInspectable properties?"
Wouldn't marking the properties in BWWalkthroughPageViewController as `@IBInspectable` make them easier to modify with IB/Storyboards?

[2014-09-23 06:52] #1 closed, assigned to nobody

[2014-10-14 19:06] andypeters opened #2 "License?"
I didn't see a license specified in the README.  What License is this?  I don't want to assume "Free as in beer when not specified" and I'm sure I'm not alone. :)

Nifty walkthrough, I'm gonna check it out...

[2014-10-14 21:15] #2 closed, assigned to nobody

[2014-10-17 02:20] mazz opened #3 "Objective-C version?"
Objective-C version planned?

[2014-10-19 14:12] #3 closed, assigned to nobody

[2014-10-21 01:09] robcornerstone opened #4 "Last page sometimes doesn't bounce back to its position"
In the example app, I can swipe to the last page that says "Choose the style of every single page...".  If I continue to swipe past the last page, it will briefly expose a blue background and then the page moves back to its offset of scrollview.contentOffset.x == 960.0.  Occasionally though, the last page does not return to the 960 offset, but instead settles on 968.0 (revealing a thin blue stripe

[2015-01-13 16:30] ariok commented on #4
@nn1900  This is the problem :) thank you. I'm going to fix it by the end of the week.

[2015-02-03 16:59] wesleyelder opened #6 "Playing Video"
Hi,

first off, fantastic work, this works absolutely brilliantly.

However i have one small issue, i would like to play a video file from one of the walkthrough pages. I created a custom UIViewController and implemented BWWalkthroughPage.

The video plays fine, however i get an error message in debug:
Presenting view controllers on detached view controllers is discouraged

The walkthrough then re

[2015-02-03 19:01] wesleyelder commented on #6
Ok Got it to work by getting the currently presented view from the app delegate like so:

-- Hopefully this is the correct way and this helps someone else.

import UIKit
import MediaPlayer

class ServiceDemoViewController: UIViewController,BWWalkthroughPage {

    var moviePlayer: MPMoviePlayerViewController!

    override func viewDidLoad() {
        super.viewDidLoad()
    }

    @IBAction func

[2015-02-03 19:01] #6 closed

[2015-02-03 19:05] wesleyelder commented on #6
hmmm its still putting it back to the first slide, but I'm much closer

[2015-02-19 09:57] marciok opened #7 "Question:"
First, congrats for the project !
Second: why the project is using class prefix if it is in Swift ?

Thanks.

[2015-02-19 10:49] ariok commented on #7
Hi @marciok . It is a sort of convention that 've initially added to all my new projects. Anyway, I'm probably going to remove the prefix from my Swift projects.

[2015-02-19 10:49] #7 closed

[2015-02-19 10:58] marciok commented on #7
Make sense, :+1:

tks

[2015-03-19 21:36] dromerobarria opened #11 "Others effects"
First at all, thanks for this amazing on boarding views, keep the nice work.

It is posible to stop the scroll or slider pass the views , I want to disable the slider for the left in the first view and the right on the last view (cause the images on those view looks bad in contrast of the color in background). Im was searching but with not luck by now.

And if its posible to add animation to each

[2015-03-20 17:14] #4 closed

[2015-03-20 17:20] ariok commented on #11
To avoid left and right off-screens you should set Scrollview `bounces` to `false`.

For the fade animation I suggest to use the `walkthroughDidScroll` method and perform there your custom animations. Something like:

[code]

[2015-03-20 17:20] #11 closed

[2015-04-12 13:42] simonarcher opened #13 "Problem with 'override init()' function"
Hi there,

On Xcode 6.3 there seems to be a bunch of issues, most of which are fixable with the self-help fixit suggestions, but the one which isn't so obvious is the following method..
-------------
override init() {
        super.init()
        scrollview = UIScrollView()
        controllers = Array()
}
-------------

which throws the error -> 'Initializer does not override a designated initiali

[2015-04-13 03:10] ariok commented on #13
Thanks @simonarcher. I can't check and fix the code until the end of April, I'm really sorry about that. I'm going to fix all the issues and in general I'm going to update BWWalkthrough with better code. It has been written with an "old" version on Swift and it really needs to be updated.

I let this issue open, so that it can address every issue related  to Swift 1.2.

[2015-04-13 19:59] orangecoding commented on #13
Damn it, I'll try to fix this issue as well. I'l get back to this if I've found a quick fix.

[2015-04-13 20:37] ariok commented on #13
@orangecoding thanks!

[2015-04-15 13:40] antgar commented on #13
I don't know if it's a fix but in our app it's working :

    required override init(coder aDecoder: NSCoder) {
        scrollview = UIScrollView()
        scrollview.showsHorizontalScrollIndicator = false
        scrollview.showsVerticalScrollIndicator = false
        scrollview.pagingEnabled = true
        scrollview.bounces = false

        // Controllers as empty array
        controllers = Ar

[2015-04-16 09:29] orangecoding commented on #13
IO can confirm that it works in this way, but... is this the correct way?

[2015-04-16 11:18] antgar commented on #13
I don't know if it's the correct way but it's a quick fix that everybody can use.

[2015-04-17 20:04] lfarah commented on #13
Thanks!

[2015-04-18 13:34] reeichert opened #14 "Problem after walkthrough"
Hello guys, is an incredible work that you have done. But I have a problem, when you finish the walkthrough I need to bring up the login screen and signup, but i don't know how to do it .. Any help?

thank you

[2015-04-18 13:47] reeichert commented on #14
maybe I already figured out what I have to do, I apply NSUserDefaults to appear only on the first start of the app

[2015-04-18 13:47] #14 closed

[2015-05-01 10:55] ariok commented on #13
Fixed with #12

[2015-05-01 10:55] #13 closed

[2015-05-13 21:13] mschonvogel opened #16 "Wrong View positions after presenting ModalViewController in iOS7"
From one of my slides, I am calling a delegate method to present an UIImagePickerController from the MasterViewController. After hiding it, the views of all slides with _speedVariance_ set, are positioned wrong.

Watch: https://youtu.be/_E6Haw8NNA4

[2015-05-24 00:27] talvinder opened #18 "how to programmatically close the walkthrough?"
I am trying to close the walkthrough programmatically after user logs in. I implemented delegate in my class like so:

````var walkthroughDelegate: BWWalkthroughViewControllerDelegate?````

and called the close button like so:

```` self.walkthroughDelegate?.walkthroughCloseButtonPressed!() ````

But the walkthrough is not closing. There is no error either.

[2015-05-24 05:42] ariok commented on #18
In depends on the way you have implement your app structure. The Walkthrough doesn't close automatically when function closebuttonpressed is called, in that function you have to implement the logic to remove the Walkthrough from your hierarchy. Check the example to understand how that function is used.

[2015-05-24 05:42] #18 closed

[2015-05-25 21:51] talvinder commented on #18
I ended up using delegates to close the walkthrough. Thanks anyway!

[2015-05-31 14:32] shams-ahmed opened #19 "cocoapods support?"
are you planning to add cocoapods support?

[2015-05-31 20:51] ariok commented on #19
Absolutely! At the moment I cannot work on this project, anyway is one of the next steps to improve the component.

[2015-06-25 02:06] AliAyasrah commented on #18
@talvinder
hello
I am trying to do like what you did
please can you tell me how ?

[2015-06-25 03:38] AliAyasrah opened #20 "go to another view"
Hello

I am trying to go to " another view control in main storyboard " by a button in one of the subviews

this what I did :

[code]

and I got this warring :
`
Presenting view controllers on detached view controllers is discouraged
`

please help

[2015-06-25 06:02] talvinder commented on #18
I used a delegate-protocol in the end to close the walk through. I can share code snippet if you need

Sent from Outlook

On Wed, Jun 24, 2015 at 7:06 PM -0700, "AliAyasrah" <notifications@github.com> wrote:

@talvinder

hello

I am trying to do like what you did

please can you tell me how ?

—
Reply to this email directly or view it on GitHub.

[2015-06-25 06:05] AliAyasrah commented on #18
@talvinder

please share it
I am new with swift and xCode

thank you very much

[2015-06-25 16:40] ariok commented on #20
@AliAyasrah is this question related to BWWalkthrough?!

[2015-06-25 16:40] #20 closed

[2015-06-29 04:40] AliAyasrah commented on #18
I am trying by protocol - delegate
but the delegate always return nil

[2015-07-10 10:25] sashalondon opened #21 "Memory problem with larger number of views"
I have used the BBWalkthrough to make an app but have more than 15 views it scrolls through. As the views that are not removed when they are not shown the memory is over 100mb used. Can you purge the views that are shown or being animated (views -1 and +1). Great work by the way!

[2015-08-20 10:09] mkwilfreid opened #23 "Navigationbar issue"
When embedding the Master View Controller into a navigation bar, and change the way it's a presented to be a push, the scrollview becomes unstable, it's scrolling all over different undefined spaces

[2015-08-20 19:00] XBeg9 commented on #19
@shams-ahmed temporary you can use

`pod 'BWWalkthrough', :git => 'https://github.com/XBeg9/BWWalkthrough.git', :branch => ‘fs/podspec'
`

[2015-08-20 19:10] shams-ahmed commented on #19
@XBeg9 ill try this approach!

[2015-08-21 10:10] patonz commented on #23
i had the same problem, and i solved it with the property of scrolling. See my post on StackOverFlow
http://stackoverflow.com/questions/30258686/use-bwwalkthrough-library-without-storyboard-walkthrough-custom

[2015-08-21 12:22] mkwilfreid commented on #23
ok thanks. great will give it a try later today, because I’ve decided instead of embedding my controller inside the navigation controller, I just added a bar element.

thanks for the tips.

[2015-08-25 18:59] Luccifer opened #25 "Update for Swift 2 Please!"
[code]
Error: 'join' has been explicitly marked unavailable here
Error: 'join' is unavailable: call the 'joinWithSeparator()' method on the sequence of elements

[2015-08-25 19:03] Luccifer commented on #25
Solution:
return (notAnimatableViews.map{String($0)}).joinWithSeparator(",")

[2015-08-29 10:18] jasan-s opened #26 "delegate methods not working , Newbie question?"
I'm trying to animate a object(uibutton) to animate when a certain  BWWalkthroughPageViewController(changing pages) view controller appears on screen . using I used delegate method : func walkthroughPageDidChange(pageNumber:Int),  however nothing is happening.   I was told to set the delegate to self in view did load method but not sure how to do that. Any suggestions?

[2015-09-04 05:24] Artemm208 opened #27 "Update for swift 2, please please please!"

[2015-09-09 16:47] ariok commented on #26
Hi this is not a question strictly related to the component, anyway... the `walkthroughPageDidChange` method gets called when the page has been presented. You can setup a delegate and implement in this delegate that function where you implement all the animations that you want to take place when a new page is presented. I suggest to keep track of the current page to avoid performing animation if t

[2015-09-09 16:47] #26 closed

[2015-09-09 16:47] #23 closed

[2015-09-09 16:54] ariok commented on #27
I'm working at an update for Swift 2... I'm sorry it is taking so long, I'll be really busy until the end of September :(

[2015-09-09 16:54] ariok commented on #25
I'm working at an update for Swift 2... I'm sorry it is taking so long, I'll be really busy until the end of September :(

[2015-09-09 16:57] ariok commented on #27
Another similar issue has already been created #25

[2015-09-09 16:57] #27 closed

[2015-09-25 19:00] #25 closed

[2015-09-25 19:01] ariok commented on #16
@mschonvogel  I'm probably going to drop iOS 7 support :/ in the next versions.

[2015-10-02 09:04] ecstaticax opened #30 "Lock scrolling"
Is there any way to lock scrolling and enable only the use of buttons to go to the different views?

[2015-10-02 10:42] ecstaticax commented on #30
Ok, I solved with a simple:

 scrollview.scrollEnabled = false

BTW, how can I enable or disable scrolling in particular views?

Thanks for the work. This class is wonderful.

[2015-10-02 20:05] ariok commented on #30
You make it right :) this is the easiest way to lock the scroll. If you want to lock it only for some view (IMO it's a strange behaviour), you can just verify the current page and enable or disable the scroll.

[2015-10-02 20:05] #30 closed

[2015-10-04 12:50] ecstaticax commented on #30
It's not a strange Behaviour and I can explain it: the first pages are used to show the main app features, then I need to set some data and I don't want that users can skip pages, so I show the next button only when users input that data.
Thanks for reply.

[2015-10-05 11:59] ariok commented on #30
@ecstaticax Got it, makes absolutely sense :+1:  Even if I've already seen a lot of Apps using it for a variety of different tasks I'm still thinking about BWWalkthrough as a simple...walkthrough. Thanks for sharing your experience!

[2015-10-05 12:25] ecstaticax commented on #30
BTW I wasn't able to find a way to check the page number :-/

[2015-10-06 15:39] ariok commented on #30
check the `currentPage` property.

[2015-10-07 07:36] ecstaticax commented on #30
This is my actual extract from **BWWalkthroughViewController**

[code]

I realized that it is loaded only the first time and not everytime. So how can check, when a view is loaded, its **currentPage** property and set **scrollview.scrollEnabled** true or false?
Thanks for support.

[2015-10-07 09:06] ariok commented on #30
The `currentPage` is a property that gives you information about the current page shown by the walkthrough and it is **read only**.

[code]

If you want to disable the scroll for a given page why don't you use delegate function `walkthroughPageDidChange(page:Int)` ?

[2015-10-08 08:11] ecstaticax commented on #30
Thanks! I solved it!

 private func updateUI(){

        // Get the current page

        pageControl?.currentPage = currentPage

        // Notify delegate about the new page

        delegate?.walkthroughPageDidChange?(currentPage)

        if (currentPage < 3)
        {
            scrollview.scrollEnabled = true
        }

        else
        {
            scrollview.scrollEnabled = false

[2015-11-04 10:11] SPopenko opened #32 "Rotation support"
Control layout is broken after rotation if enable landscape mode. Any suggestions how to fix?

[2015-11-04 10:15] SPopenko opened #33 "addViewController flow issue"
addViewController operate only with controllers view.
Should it also use addChildViewController and didMoveToParentViewController to correctly host controllers as child?

[2015-11-04 14:25] ariok commented on #33
Thanks! It is an interesting feature. I keep track of it and I tag the issue as `enhancement`.

[2015-11-04 14:26] ariok commented on #32
BWWalkthrough doesn't support orientation change :/

[2015-11-05 23:31] LouiLu opened #34 "bwwalkviewcontroller page will backward to its parent issue"
Hi Ariok,
I am a leaner of Swift and I am currently using bwwalkthrough. It works properly instead when the bwwalkthroughviewcontroller page(the main page) loads, if I tap on the upper half of the view, it will accidentally backward segue to its previous page and never shows again.

Here provides the repo url: git@github.com:evtechnologies/Wave.git

Thanks for help.

Loui

[2015-11-07 09:22] ariok commented on #16
Hi @mschonvogel I decided to drop support for iOS 7. I close this bug since it seems to be related to iOS 7 only, just let me know if you encounter it with iOS 8 / 9 too and I'll reopen the issue immediately!

[2015-11-07 09:22] #16 closed

[2015-11-07 09:36] ariok commented on #34
Interesting! I'll check your project!

[2015-11-07 09:37] ariok commented on #34
ops... I erroneously closed it.

[2015-11-07 09:58] ariok commented on #34
it's something really really strange. If you change the animation from Cross Dissolve to a Standard Vertical cover it works without problem. I don't know how to help you more... I just suggest to change the animation to the Standard Vertical for now.

[2015-11-07 09:58] #34 closed

[2015-11-07 10:04] ariok commented on #34
The problem is the Partial Curl. The top area of a view controller presented via Partial Curl automatically is automatically connected with a dismiss action. You need to change the presentation style to avoid this issue... try Vertical Cover presentation style.

(I admit that I didn't know about this "feature" of the Partial Curl... and I cannot even find it documented, but I see a lot of people r

[2015-11-22 10:46] jramgit opened #36 "How to make this Walkthrough show all the time?"
How can I make this to show all time regardless if the user opened the app previously or not?

Thank you

[2015-11-22 14:05] ariok commented on #36
It depends on your application structure. Anyway, BWWalkthrough instance doesn't disappear automagically... you have to programmatically implement this behaviour. So if you don't want it to disappear, you are already all set.

[2015-11-22 14:05] #36 closed

[2015-11-22 14:08] ariok commented on #19
Just a quick note on this issue. I'm willing to include Cocoa Pods support to BWWalkthrough, I've already worked on that but I had some configuration problems... anyway, I'm planning to fully support Cocoa Pods until the end of January 2016.

[2015-11-22 14:57] shams-ahmed commented on #19
thanks!

[2015-11-22 17:13] jramgit commented on #36
Can you explain further? As of now, if I open the app the first time BWWalkthrough instance will show, however, after I close the app and open it again, BWWalkthrough won't show again.

[2015-11-22 17:37] ariok commented on #36
Again, this is not part of BWWalkthrough behaviour. Probably you have taken some code from other resources and you are using it together with BWWalkthrough. Is this case possible? BWWalkthrough is just a "container" with navigation logics.

[2015-11-22 17:42] ariok commented on #36
Maybe... are you talking about the example project?! in that case I've implemented this behaviour in the `viewController.swift` but please note that this is not the BWWalkthrough behaviour... this is something that I've implemented in the example project... Here the code that define if the walkthrough should be shown or not.

[code]

[2015-11-25 04:00] brad-cooley opened #37 "Background fade"
Wanted to start off by saying, WOW! This is a great repo. Absolutely love it!

Anyways, I'm having problems trying to get the background color to fade.

I tried changing it under the `walkthroughDidScroll` function, but couldn't get it to work.

Any ideas?

[2015-12-02 01:24] #37 closed

[2015-12-13 04:56] michaelbina commented on #19
@XBeg9 FYI - I'm getting this error while using your branch with cocoa pods:

[!] Unable to read the license file `/Users/michaelbina/Library/Mobile Documents/com~apple~CloudDocs/Projects/white rabbit/dev/ios/Pods/BWWalkthrough/LICENSE.txt` for the spec `BWWalkthrough (0.6.1)`

I think the problem is simply that the license file needs to be titles LICENSE.txt in all caps as opposed to License.txt

[2015-12-27 18:13] turnoffthelights commented on #32
Hi SPopenko,

We use this code in the "BWWalkthroughViewController.swift" file, to stay in portrait mode:

    override func shouldAutorotate() -> Bool {
        return true
    }

    override func supportedInterfaceOrientations() -> UIInterfaceOrientationMask {
        return [UIInterfaceOrientationMask.Portrait,UIInterfaceOrientationMask.PortraitUpsideDown]
    }

[2015-12-27 18:19] turnoffthelights opened #39 "Bug? Can't close the presentViewController"
Hi there,

We want an extra button in the end of the 'Walkthrough' slide. But the code doesn't work when we link it to this new button "Get started Now". (and it use this viewcontroller use the same "BWWalkthroughViewController.swift" file)
 @IBAction func btngetstartednow(sender: AnyObject) {
delegate?.walkthroughCloseButtonPressed?()
}

Thanks,

[2015-12-28 00:09] mathmatrix828 opened #40 "Adding Cocoapods support"
I've forked your repository and will be adding Cocoapods support (Including update to README.MD)

[2015-12-28 01:01] mathmatrix828 commented on #40
Support already added #31

[2015-12-28 01:01] #40 closed

[2015-12-28 08:41] SPopenko commented on #32
@turnoffthelights thanks for suggestion.

[2015-12-28 08:41] #32 closed

[2016-01-05 15:05] khuong291 opened #41 "How to make it always launch when app is opened?"

[2016-01-05 15:10] khuong291 commented on #41
I have fixed it.

 override func viewDidAppear(animated: Bool) {
    super.viewDidAppear(animated)

//    let userDefaults = NSUserDefaults.standardUserDefaults()
//
//    if !userDefaults.boolForKey("walkthroughPresented") {

      showWalkthrough()
//
//      userDefaults.setBool(true, forKey: "walkthroughPresented")
//      userDefaults.synchronize()
//    }
  }

[2016-01-05 15:10] #41 closed

[2016-01-06 00:41] ariok commented on #39
The delegate is not meant to be used in that way.
You are manually calling a delegate function that should be only called by the class when the "close" button is pressed.

[2016-01-06 00:41] #39 closed

[2016-01-06 09:01] turnoffthelights commented on #39
How create then on the end of the slide a big button with the text "Get Started Now" that close this guide?

[2016-02-01 07:36] ariok commented on #19
I'm trying to add CocoaPods support but I'm still failing! I'm reading this guide:
https://guides.cocoapods.org/making/making-a-cocoapod.html
and this:
https://guides.cocoapods.org/making/using-pod-lib-create
The main problem is that the example project cannot recognize the BWWalkthrough classes. Any hint?

[2016-02-01 08:40] andreamazz commented on #19
Add a Podfile to your example project with this inside:
[code]
run `pod install`, the pod will be integrated in the sample as "Development pods".

[2016-02-02 15:32] ariok commented on #19
Fixed with version 1.0.1 https://github.com/ariok/BWWalkthrough/releases/tag/1.0.1

[2016-02-02 15:32] #19 closed

[2016-02-04 19:54] justinmakaila opened #43 "Moving views"
For whatever reason, the scroll view is allowing my pages to move in any direction. I've tried setting `alwaysBounceVertical` to `false`, and I've tried to remove all bounce from the `scrollview` to no avail.

Any ideas?

**EDIT** FWIW, my master is presented within a navigation controller. Although the navigation bar should show up, it's not. It seems like the tolerance for the "bounce" is about

[2016-02-05 14:14] HamedMP opened #44 "Use of undeclared type 'BWWalkthroughViewController'"
When I add the code to manage subview I get error at

[code]

telling "Use of undeclared type 'BWWalkthroughViewController'"

I installed via pod install and xcode 7.2.1

[2016-02-06 17:46] HamedMP commented on #44
You should both

[code]

and define delegate

[code]

[2016-02-06 17:46] #44 closed

[2016-02-23 11:36] ariok commented on #43
I've never experienced anything similar but it doesn't seems to be something related to the BWWalkthrough implementation... it might be strongly related with your structure. Can you provide more information? maybe a demo project?

[2016-02-23 13:39] justinmakaila commented on #43
Yes, I'll put something together
On Tue, Feb 23, 2016 at 06:36 Yari @bitwaker <notifications@github.com>
wrote:

[2016-02-25 15:02] justinmakaila commented on #43
@ariok:

I have a `RootViewController`, which is the `rootViewController` of a `UINavigationController` which is my Storyboard Entry Point. The `RootViewController` is configured in a Storyboard, and displays the navigation bar of it's `navigationController`.

Here's the class (edited to only show relevant code):
[code]

`signUpButton` and `signInButton` float over the walkthrough.

[2016-02-25 15:23] justinmakaila commented on #43
<img width="487" alt="screen shot 2016-02-25 at 10 22 37" src="https://cloud.githubusercontent.com/assets/1638996/13323955/bb93a09e-dba9-11e5-8f70-e37563aa9d9b.png">

^ I set the background view color of `pageOne` to black. It appears as if it's not laying out properly within navigation view controllers

[2016-02-25 15:24] justinmakaila commented on #43
<img width="487" alt="screen shot 2016-02-25 at 10 23 39" src="https://cloud.githubusercontent.com/assets/1638996/13324001/e55fe608-dba9-11e5-8cdf-926f56c7ca67.png">

^ Here's the same screen after the shift takes place

[2016-02-25 15:50] justinmakaila commented on #43
Turns out the issue is not with the library. I missed the `automaticallyAdjustsScrollViewInsets` check box in the storyboard.

[2016-02-25 15:50] #43 closed

[2016-02-26 22:00] fishfisher opened #46 "Problems with orientation and modally presented views"
First of all, thanks for your great work!
I have an issue when it comes to displaying BWWalkthroughViewController on the iPad. When in landscape the constraints are all wrong and I have not found a solution for it. It is also displayed wrong if the BWWalkthroughViewController is presented as PageSheet or FormSheet. Any ideas?
Regards, Erik

[2016-03-02 14:07] ariok commented on #43
Thanks for verifying and closing the issue.

[2016-03-02 14:11] ariok commented on #46
Landscape orientation is not yet supported. I add this as a bug, I try to fix constraints generation to be dynamically handled.

[2016-03-05 17:29] marcoscurvello opened #47 "Only show close button on last page"
Not an issue really, just a desired scenario. Can I only show the close button on the last walkthrough page? Thanks so much for awesome repo!

[2016-03-11 12:32] ariok commented on #47
Sure, you can link the `closeButton` property to your viewController, then, you need to setup a `BWWalkthroughViewControllerDelegate` and you can use its `walkthroughPageDidChange(pageNumber:)` function to hide the `closeButton` if the received page is the last one (just doing something like `pageNumber == walkthrough.numberOfPages -1`).

[2016-03-12 09:19] #47 closed

[2016-03-17 03:28] lazyeo opened #49 "How to set the view's tags that I want to exclude the automatic animations"
I'm a very beginner :(
This project is great !
I can attach the pages to the master with  automatic animations
But I don't know how to exclude some views from the animation
What' the `staticTags` ? Should I create a runtime arguments with the key-path of `staticTags`?
And how to set the tags to the views I don't need animations?

THX :)

[2016-03-25 18:47] Luccifer opened #50 "Swift 2.2 Support?"

[2016-03-27 14:45] ariok commented on #50
ASAP. Thanks!

[2016-03-31 16:37] coanag opened #51 "Carthage support"
Hi there,
is there any plans for carthage support in the future?

Thank you!

[2016-04-05 21:34] ariok commented on #50
fixed b6efc3ad20567dd215cd60ff8b77a663e978712f

[2016-04-05 21:34] #50 closed

[2016-04-05 21:38] ariok commented on #51
Yes! Currently I'm working on a complete redesign of the library for version 2.0, anyway I'll try to release carthage support before 2.0.

[2016-04-05 21:41] ariok commented on #49
From Interface Builder, in the attribute inspector for a specific BWWalkthrough-Page, you can list the tags for the views that you don't want to animate. Check this tutorial for more info http://www.thinkandbuild.it/creating-custom-walkthroughs-for-your-apps/

[2016-04-05 21:41] #49 closed

[2016-04-07 19:44] croossin opened #52 "Could not cast to BWWalkthroughViewController"
Could not cast value of type 'UIViewController' (0x1094ff5e0) to 'BWWalkthrough.BWWalkthroughViewController' (0x10734ab50).

I have made sure I imported BWWalkthrough and declared the delegate.  But I keep getting this error on line:

`walkthrough = stb.instantiateViewControllerWithIdentifier("container") as! BWWalkthroughViewController`

I have ensured that the it is in fact a BWWalkthroughViewCo

[2016-04-11 17:22] FabianGroeger96 commented on #52
I have the same error, i really hope it get's fixed fast...

[2016-04-19 17:35] vinnyoodles commented on #52
You have to set the module in the interface builder to `BWWalkthrough`. It's basically importing the pod into your interface builder

[2016-04-27 13:37] ariok commented on #52
@croossin can you confirm that what @vinnyoodles works? I cannot reproduce the issue you are reporting...

[2016-04-27 16:52] vinnyoodles commented on #52
![screen shot 2016-04-27 at 12 51 24 pm](https://cloud.githubusercontent.com/assets/8698599/14860447/e3668fd4-0c76-11e6-971f-1cde328d8949.png)

![screen shot 2016-04-27 at 12 51 38 pm](https://cloud.githubusercontent.com/assets/8698599/14860448/e3690098-0c76-11e6-8f5d-b006f36e907c.png)

The first picture is what was causing my error, the second picture is what I did to fix it. Hope that helps

[2016-05-02 18:25] Rashesh-Bosamiya opened #53 "Objective C"
How can I use this library in Objective-C project, although this library is written in Swift?

[2016-05-03 07:47] ariok commented on #53
Sure! You can use `BWWalkthrough` classes in your Objective-C projects. You have only to include the "yourproject-swift.h" header when you want to use a swift class. Check the [documentation](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html) for more info.

Here is a quick example written in objective-c:
[code]

[2016-05-03 07:47] #53 closed

[2016-05-03 07:48] ariok commented on #52
Thanks! I've tried what @vinnyoodles suggested, it worked for me too. I close the issue.

[2016-05-03 07:48] #52 closed

[2016-05-20 09:56] danwey opened #55 "The landscape there is something wrong with the logic"
![error](https://cloud.githubusercontent.com/assets/6631373/15424230/185dd842-1eb4-11e6-9135-f5ab2a52edd8.png)

please add landscape model.

[2016-05-22 23:03] ricardosobral opened #56 "Could not cast value of type 'BWWalkthrough.BWWalkthroughViewController' BWWalkthroughViewController'"
So I have followed your tutorial step by step. Still having issues...

I have installed it first with CocoaPods and seems that others are having the same issue.

If I name the custom class module (top right on the identity inspector) BWWalkthrough it will crash with the following:
Could not cast value of type 'BWWalkthrough.BWWalkthroughViewController' (0x1054e6b50) to 'NameOfMyProject.BWWalkthrou

[2016-05-23 00:41] albertml opened #57 "preferredStatusBarStyle not triggered"
I need to change the status bar color. I set View controller-based status bar appearance to YES cause I need to hide status bar on specific viewcontroller. Overriding preferredStatusBarStyle on class extending your library will not triggered.

[2016-05-23 07:19] ariok commented on #55
Landscape is not currently supported. I'm working at version 2.0 that will be based on size classes and will support landscape and portrait.

[2016-05-23 07:19] #55 closed

[2016-05-23 07:23] ariok commented on #56
Can you try to import the library manually and letting me know if you encounter the problem? I'd like to know if is related to Cocoa Pods only, since I cannot reproduce the issue. To import BWWalktrough just drag and drop in your project swift files from the Class folder Pod/Classes.

[2016-05-23 21:11] ricardosobral commented on #56
I have done that and found the same issue unfortunately.

[2016-05-29 22:48] JPROFFICIAL commented on #56
@ricardosobral I had this same issue with the casting not completing and crashing the project. I searched the closed issues, and found this
![screen shot 2016-05-29 at 5 47 15 pm](https://cloud.githubusercontent.com/assets/14960440/15636473/83f7730c-25c5-11e6-8a5e-bb4aaa21fd54.png)

This fixed the error for me and all works as expected. Did this help?

[2016-05-30 19:22] knly commented on #55
Hi @ariok, can you suggest a way to disable landscape orientation for the walkthrough?

[2016-06-03 04:55] jhrasco opened #59 "Infinite scrolling not supported"
Is there a way to make it scroll infinitely? Like when the user reaches the last page, the walkthrough will go back to first page on the next swipe.

[2016-06-03 16:40] knly commented on #46
I just submitted a pull request to support landscape orientations, it may be relevant to this issue: #60

[2016-06-10 11:52] ariok commented on #51
8a4f9550255324536dd36ce37793d4f0aa45e675

[2016-06-10 11:52] #51 closed

[2016-06-10 11:58] ariok commented on #56
I close the issue since the solution proposed by @JPROFFICIAL seems to fix this issue (thank you! :))  Plus, I see that with Xcode 7.3.1all the BWWalkthrough classes are correctly recognized by IB (sometimes you have to select and deselect the identity inspector class textfield though).

[2016-06-10 11:58] #56 closed

[2016-06-25 20:23] channola opened #62 "Problem After Walkthrough"
Hello, I have a problem with leaving the walkthrough to get to my login page. How do you connect to login view controller out of walkthrough? Any help please.

[2016-06-25 23:28] channola commented on #18
@talvinder

Do you mind sharing a snippet of the code you used?

[2016-07-01 23:20] travjzx opened #63 "error swift 3"
I am receiving this error in swift 3

 for(i in 0 ..< subsWeights.count ){

expected ',' separator

this is  in BWWalkthroughPageViewController.swift

[2016-07-02 16:58] kvnbautista commented on #63
@travjzx Try this
for i in 0 ..< subsWeights.count

[2016-07-14 07:40] kevinonik opened #64 "Parallax while scrolling"
How to remove the parallax effect while scrolling? Help!
@ariok

[2016-07-14 23:04] ariok commented on #63
I still have to port code to Swift 3. I tag the issue as enhancement

[2016-07-14 23:07] ariok commented on #64
Just set "speed variance" to 0.

http://www.thinkandbuild.it/wp-content/uploads/2016/03/elements.png

[2016-07-14 23:07] #64 closed

[2016-07-14 23:12] ariok commented on #62
This issue I strictly related to your App implementation, did you tried to switch the root controller? or you can just keep the walk through in the hierarchy and present your other view controllers above it (I don't like this method though). Another way is using view containment... create a container and switch contents as you need.

[2016-07-14 23:12] #62 closed

[2016-07-15 05:32] channola commented on #62
Thank you so much!

On Thu, Jul 14, 2016 at 6:12 PM, Yari @bitwaker <notifications@github.com>
wrote:

[2016-07-15 07:25] kevinonik commented on #64
@ariok  Thank you! I ll try it today. Btw great work. Very easy to implement.

[2016-07-22 07:27] ariok commented on #46
thanks! going to merge very soon!

[2016-07-22 21:31] ariok commented on #59
@jhrasco this is not a planned behaviour for BWWalkthrough. Anyway, you could extend `BWWalkthroughViewController` in that way: when the last view controller is presented and the next button is pressed you just call `gotoPage(0)`. Obviously it doesn't handle the case where a user is manually scrolling through view controllers.

[2016-07-22 21:31] #59 closed

[2016-07-22 21:35] ariok commented on #57
I don't think this issue related to BWWalkthrough code. preferredStatusBarStyle defines the color of the status bar text, not its visibility.

[2016-07-22 21:35] #57 closed

[2016-07-22 21:41] ariok commented on #57
anyway, this issue might be strongly related with the structure you have implemented. You can try calling something like directly from a  BWWalkthrough page: `[[UIApplication sharedApplication] setStatusBarStyle:UIStatusBarStyleLightContent];` it should work.

[2016-07-25 16:25] joshhensley opened #65 "ScrollView not scrolling with next/prev buttons, even though nextPage() is getting called."
I have configured BWWalkthough using storyboard, as the example project does. Everything works great. But I can't seem to get the nextButton/prevButton to work. The IBOutlets are connect properly and the nextPage() action is called. The delegate even receives walkthroughNextButtonPressed/walkthroughPrevButtonPressed calls. The actual scrolling never occurs though. Any thoughts?

I am using a subcl

[2016-07-28 08:50] ariok commented on #65
@joshhensley I'm going to check it in a couple of days. Can you try the example please? does it work for you?

[2016-08-01 18:27] marciliojrs commented on #65
Hi guys, I had a similar problem trying to call `nextPage` from my controller. I resolved it updating `gotoPage` method on `BWWalkthroughViewController`.

I replaced this line:
`scrollview.scrollRectToVisible(frame, animated: true) `
for this one:
`scrollview.setContentOffset(frame.origin, animated: true)`

[2016-08-08 09:40] brokeniceinteractive opened #66 "launch navigation controller from a page"
I have a strange problem, i added a button in a page of slider, with this action:

[code]

The navigation has been displayed, but the page BWWalkthroughPageViewController has been resized wrong, and when i close the new navigation i'm not able to scroll but i can only click close button, any idea?

[2016-08-18 09:44] xoniq opened #67 "Constraint issue in Xcode 8 Beta 6"
`.../Pods/BWWalkthrough/Pod/Classes/BWWalkthroughViewController.swift:236:53: Cannot assign value of type '[NSLayoutConstraint]' to type 'NSArray?'`

// EDIT //

Fixed by changing
```private var lastViewConstraint:NSArray?```
To:
```private var lastViewConstraint:[NSLayoutConstraint]?```

[2016-08-30 12:15] zohaibbrohi opened #68 "Cannot detect swipe"
Hi, I want to detect swipe so i can restrict some views, for example i have 10 pages and i dont want swipe to work on number 4 page (on page 4 I only want to use button for swipe for swipe gesture)

[2016-09-01 12:48] sashalondon opened #70 "Swift 3 Error:"
I have this error in my code and also in the example app. I have used the code migrator to update the project to Swift 3 (the example).

2016-09-01 13:42:36.133 BWWalkthrough_Example[643:9268270] -[_SwiftValue nsli_superitem]: unrecognized selector sent to instance 0x60000005cfe0
2016-09-01 13:42:36.140 BWWalkthrough_Example[643:9268270] *** Terminating app due to uncaught exception 'NSInvalidArgu

[2016-09-01 12:49] sashalondon commented on #70
It does not crash if you only have the one page. If you add more then it crashes.

[2016-09-01 15:42] ariok commented on #70
@sashalondon SWIFT 3 is not yet officially supported by the BWWalkthrough. I'm working on a separated branch (I'll push it soon).

[2016-09-01 15:42] #70 closed

[2016-09-01 15:46] ariok commented on #68
This feature is not an intended behaviour of the library actually :(  and it is kind of confusing in my opinion. I close the issue since I'm not going to include this feature, anyway you can access the `scrollview` object of `BWWalkthroughViewController` and implement this logic :)

[2016-09-01 15:46] #68 closed

[2016-09-01 15:47] ariok commented on #67
@xoniq thanks. Xcode 8 and Swift 3 are not yet supported. Working on a new branch that I'm going to upload soon.

[2016-09-01 15:47] #67 closed

[2016-09-01 15:52] ariok commented on #66
How can I understand which issue are you experiencing checking the code you provided? Looking at the issue from this point of view I cannot understand if it is related to BWWalkthrough.

[2016-09-01 15:53] zohaibbrohi commented on #68
yeah, I used walkthrough!.scrollview.scrollEnabled = false, And its restricting the view not to be scroll to next page now i want to enable it on button click. I will figure it out. Thanks

[2016-09-01 22:22] Sun3 opened #71 "Rotating device - Walkthrough screen do not resize"
When you rotate the device the Walkthrough screens do not resize. Is there a way to do this?

Thanks, cool control.

[2016-09-08 05:16] SergeiMeza commented on #21
Hint: Try to load 3 at the time in code... :)

[2016-09-14 15:19] cqin5 opened #73 "NSLayoutContraint crash in BWWalkthroughViewController"
Xcode 8 with Swift 3.0

On line 229,
`scrollview.addConstraints(NSLayoutConstraint.constraintsWithVisualFormat("H:[previousView]-0-[view]", options:[], metrics: nil, views: ["previousView":previousView,"view":vc.view]))`

throws

I apologize that I'm not too familiar with creating constraints in code, therefore can't offer anything more than pointing it out.

[2016-09-15 04:20] antonioreyna commented on #63
Hi, thanks for this awesome library, when do you think can release swift 3 version? :D

[2016-09-15 10:21] olegnaumenko commented on #73
Same happens for me in simulator

[2016-09-15 11:12] NemOry commented on #63
I hope the swift 3 version is going to be released soon. can't wait :) thanks a lot for this great lib

[2016-09-15 15:40] hainguyen86 commented on #63
xcode 8 is out, it's time to upgrade :D

[2016-09-16 16:54] iTh3End commented on #63
please update lib to swift 3

[2016-09-17 11:02] ariok commented on #63
Guys, I'm in Honeymoon right now, I'll be back in a week and I'll release :)

[2016-09-19 08:56] hilalbaig commented on #63
Please make it as soon as possible.
Thanks for the great library.

[2016-09-19 17:27] cqin5 commented on #73
@olegnaumenko take a look at this https://github.com/ariok/BWWalkthrough/pull/72 , it solved my problem.

[2016-09-20 11:13] willeeklund commented on #73
Yes I also noticed this problem. It is solved in the referred pull request (#72).

[2016-09-20 14:28] olegnaumenko commented on #73
Thank You, solved for me too.

[2016-09-20 23:47] LiborZ commented on #63
Yes please, upgrade this as soon as you get home. Thanks :)

[2016-09-21 08:31] bebethor opened #74 "Lock left swipe movement"
Hello ariok!

Good library!! Is there any way to lock the left swipe movement?

Thank you!!

[2016-09-21 20:31] francoisduchemin commented on #63
Yep upgrade would be great!

[2016-09-22 14:39] willeeklund commented on #63
For those os you who want a working Swift 3 version: you can use the version in PR #72. @francoisduchemin @LiborZ @hilalbaig @iTh3End @NemOry @antonioreyna

[2016-09-22 21:06] francoisduchemin commented on #63
Thanks @willeeklund PR #72 is working great!

[2016-09-24 20:18] ariok commented on #63
I've quickly checked PR #72, I cannot fully check it since I'm still OOO without my laptop (honeymoon... she is in charge, you know 😅) I will merge and update pod stuff in a few days, in the meanwhile please consider using PR #72.

[2016-09-24 20:20] ariok commented on #73
Please use PR #72 I'll merge it a few days. I'm currently OOO.

[2016-09-24 20:21] ariok commented on #71
Actually this is not intended as feature for this version of BWWalkthrough. I'm working at version 2.0 that will be released this winter.

[2016-09-24 20:21] #71 closed

[2016-09-24 20:22] #66 closed

[2016-09-24 20:29] ariok commented on #74
The main container is a scrollview. You should subclass BWWalkthroughViewController and manually handling the scrollview.

[2016-09-24 20:29] #74 closed

[2016-09-26 22:47] gabrieloliva commented on #73
I had the same problem and the PR #72 fixed it.

[2016-09-27 05:30] #63 closed

[2016-09-27 05:30] #73 closed

[2016-09-27 10:09] preetirani opened #75 "Need Swift 2.3 version of this library"
I need to integrate this library in my project which is using swift 2.3 , through pods . Please let me know to get that version of this library

[2016-09-28 16:16] 27deabril commented on #75
My project is also using Swift 2.3 and I've just successfully integrated with this class through pods. Are you using that famous "mini-script" to configure your pods?:

[code]

In case you are not, just add that to the end of your podfile, run a new pod install and it should work.

[2016-09-29 13:04] mkaya93 commented on #70
@ariok my application is crashing too. Will you update library soon ?

[2016-09-29 15:52] alexandrutelegredean opened #76 "Is it possible to hide the pageControl while in transition?"
Is it possible to hide the pageControl when the screen is in transition ( from let's say page 3 to 4 where 4 is the last ) not when the transition is completed ?

[2016-09-30 07:31] albertml opened #77 "Swift 3 compatibility"
Cocoapods of this library not updated to Swift 3

[2016-09-30 10:12] terflogag commented on #77
Check this issue : https://github.com/ariok/BWWalkthrough/issues/63

[2016-10-01 07:17] ariok commented on #77
@albertml I'm working on the pod update now.

[2016-10-01 07:19] ariok commented on #76
You have to subclass and implement that as a custom behaviour. Currently the library checks for page controls to hide/show at the end of the transition. (it might be a nice feature for the next release though... thanks for pointing it out).

[2016-10-01 07:19] #76 closed

[2016-10-01 07:21] ariok commented on #65
I'm not able to reproduce the issue :/

[2016-10-01 07:24] ariok commented on #75
I close the issue since we already moved the project to Swift 3.0. Please try what @27deabril suggested. Anyway you can easily download release 1.1.1 and update it to swift 2.3 :)

[2016-10-01 07:24] #75 closed

[2016-10-01 08:22] ariok commented on #77
I'm encountering a lot of issues. CocoaPods is currently not compatible with Xcode 8. I've installed the rc2... let's try that way. Every time I need to update this repo for CocoaPods is a pain...

[2016-10-01 09:20] ariok commented on #77
I'm still getting error while trying to push the pod to trunk. Currently I'm getting "The `master` repo is not a git repo.". I cannot complete and close this issue... I put it on hold.

[2016-10-04 00:51] DK-Webentwicklung opened #79 "Start BWWalkthrough from viewDidLoad()"
Hi, i have a problem with your Class.

If i start the flow with an uibutton it works perfectly but i want to start the flow without a button. How can i do this?

I test to copy the buttoncode into the viewDidLoad() without success.

This is my code:

`
        let stb = UIStoryboard(name: "Main", bundle: nil)
        let walkthrough = stb.instantiateViewController(withIdentifier: "walkthroughconta

[2016-10-14 07:41] ariok commented on #79
You are trying to present a view controller in the viewDidLoad... this is the problem. You could show directly the walkthrough instead of presenting it through another view controller or, if you really need to pass through another view controller use at least the viewDidAppear method.

[2016-10-14 07:41] #79 closed

[2016-10-14 07:43] ariok commented on #65
2 months without answers. I close the issue since I cannot reproduce it.

[2016-10-14 07:43] #65 closed

[2016-10-14 07:47] ariok commented on #33
Just to letting you know that I'm implementing the new version of BWWalkthrough using a standard View Controller hierarchy ;)

[2016-10-20 08:15] apiejh commented on #46
I've submitted a pull request that (if accepted) should help you: [#80](https://github.com/ariok/BWWalkthrough/issues/46)

[2016-10-24 16:41] MaeseppTarvo opened #81 "Bounces"
Hey! Is it possible to disable bounces and just animate the views inside background image? I ask this because [this](https://www.upload.ee/image/6280632/14825749_1257933674259275_1148598082_n.jpg) is what is happening.

I add blurry view like this:

[code]

[2016-10-24 16:58] #81 closed

[2016-10-29 16:36] dbmrq opened #82 "Problem code signing in Xcode 8.1?"
I just updated to Xcode 8.1 and now when I try to build BWWalkthrough with Carthage I get this:

[code]

Any ideas?

Edit: I ran `carthage update` with the `--verbose` flag and this is what it says right before the error:

[code]

Apparently [people are having similar issues](https://forums.developer.apple.com/thread/66538) when the package has a "Resources" directory… it doesn't seem like you do,

[2016-10-29 20:07] dbmrq commented on #82
Uhm… I don't see an actual "Resources" directory, but maybe [this](https://github.com/ariok/BWWalkthrough/blob/bc54e0bb445b014b50302fdb730ffb9c6265336c/Example/Pods/Pods.xcodeproj/project.pbxproj#L20) has something to do with it?

[2016-10-31 14:20] LiborZ commented on #82
I have same problem. Any solution? Thanks

[2016-10-31 23:33] dbmrq commented on #82
For now I'm just copying the code manually. :/

[2016-11-03 14:32] maysamsh commented on #82
I've the same problem!

[2016-11-15 21:14] haydarKarkin commented on #77
Hi @ariok ,

Is there any progress about swift 3? Please let us know how it goes.

Thanks

[2016-11-26 12:35] Mapamatician opened #83 "view.insertView(scrollView, at: 0) messing with layer transparency"
Hi guys,

First off thanks for the awesome plugin.
I have a layer issue

On my BWWalkthroughViewController, I have a UIImageView with alpha 0.1 as a background that I want for all of the BWWalkthroughPageViewControllers

Each BWWalkthroughPageViewController has a UIImage with alpha 1.0, but these images are below the background image. How can I bring them to the front?

In viewDidLoad
        view

[2016-11-30 10:56] prakash-subramani commented on #82
I am also having same issue

[2016-12-06 23:51] ariok commented on #77
BWWalkthrough has been updated to fully support Swift 3 with CocoaPods.

[2016-12-06 23:51] #77 closed

[2016-12-06 23:52] ariok commented on #46
#80 has been merged.

[2016-12-06 23:52] #46 closed

[2016-12-06 23:55] ariok commented on #82
The `Resource` directory has been created by the CocoaPod workspace. Now I've completely changed (and simplified) the project structure. You should not encounter the issue anymore.

[2016-12-06 23:55] #82 closed

[2016-12-06 23:59] ariok commented on #83
Probably the only way you have to achieve this result is subclassing `BWWalkthroughViewController` and implement your custom behaviour. Also, to set view transparency for a view controller view you have to deal with `opaque` property of the view http://stackoverflow.com/questions/8520434/uiview-opaque-vs-alpha-vs-opacity.

I close the issue since this is not really related to BWWalkthrough, it sou

[2016-12-06 23:59] #83 closed

[2016-12-07 00:05] ariok commented on #33
I decided not to change the structure that I've implemented to include subviews. I close the issue since I'm not going to complete the regular view controller hierarchy implementation... at least for the  coming releases.

[2016-12-07 00:05] #33 closed

[2016-12-07 00:50] dbmrq commented on #82
@ariok

Uhm, now I get

[code]

[2016-12-10 09:55] maysamsh opened #84 "Carthage update failed"
I cannot update my project due to this error:

[2016-12-10 11:26] #84 closed

[2016-12-21 11:59] vytautasgimbutas opened #85 "Deployment target"
Hello,
why deployment target is set to 10.1? Isn't it possible to support earlier versions, like at least 9.3?

[2016-12-31 07:42] RonGafni opened #86 "Scrollview can be drag all around"
Hey,

I'm trying to fix a problem with my scrollview. I want the scrollview move only right and left(without the option to be drag up or down).

How can i fix it?

[2017-01-04 21:45] SeRG1k17 commented on #86
more info pls

2016-12-31 10:42 GMT+03:00 RonGafni <notifications@github.com>:

[2017-01-20 21:25] kschins opened #87 "Changing from split view to full view forces walkthrough to the initial page"
If the user is viewing the walkthrough on an iPad in split view (multi-tasking mode), and they make the application full screen the user is immediately taken back to the first page as opposed to still viewing the same page they were on when viewing the walkthrough in split view.

[2017-01-22 10:31] jibeex opened #88 "Is it compatible with Swift 3 ?"

[2017-01-22 12:53] ewan34500 commented on #88
Yes it's work fine

[2017-01-23 22:54] jibeex commented on #88
Which version should I reference if I am using it on Swift 3 ?

[2017-02-03 21:54] StPayne55 commented on #85
Agreed...this is basically unusable when added to a project with even a few dependencies since just about all of mine have a deployment target of 9.3

[2017-02-04 07:13] ariok commented on #88
@jibeex version 2.0.0

[2017-02-04 07:13] #88 closed

[2017-02-04 07:16] ariok commented on #86
@RonGafni  actually the scrollview should only move left and right. Are you experiencing a different behaviour? please provide more info as @SeRG1k17 already suggested.

[2017-02-04 07:19] ariok commented on #87
I think this behaviour has been introduced with this commit ade308d6e64c178dd0e351629cbecaab1cdce50d. What do you think @apiejh?

[2017-02-04 07:33] #85 closed

[2017-02-04 14:17] RonGafni commented on #86
@ariok Yes, I can drag the view around. I need to "lock" the view and just move right and left.

[2017-02-05 10:04] apiejh commented on #87
With this commit, I'm adjusting the offset of the scrollview to the beginning of the current page whenever the viewport size changes. In principle, this should not take you to a different page. @kschins could you please give more info on how to reproduce this issue? Are you in landscape or portrait mode? Which iPad is it? Is it possible for you to record a screencast? I've tried reproducing this i

[2017-02-05 10:08] apiejh commented on #86
@RonGafni are you using autolayout? If so, please make sure you are not using explicit sizes and instead use proportions to resize your views. Perhaps one of your views receives height larger than the scrollview and this causes vertical scrolling?

[2017-02-08 15:32] jpodcedensek commented on #86
@RonGafni are you using your walkthrough container within a UINavigationController? If so, you need to set `automaticallyAdjustsScrollViewInsets` to false.

[2017-02-13 14:05] MuhammadAhmedBaig opened #89 "Drag All Over The Screen Not Only Left Or Right Side"
Hey!,
I Face Issue, I Integrate Walkthrough But The pages not only move left or right but also moves from upside or down side in short i can move all the Image to all over the screen,
Please See the Screen shot:
![simulator screen shot 13-feb-2017 7 04 06 pm](https://cloud.githubusercontent.com/assets/11391728/22886458/cbc2d664-f21f-11e6-8718-1967c5a1f1cd.png)

[2017-02-23 16:35] ariok commented on #89
Please follow #86

[2017-02-23 16:35] #89 closed

[2017-02-24 21:06] techyowl opened #90 "crashes as soon as I interact with the screen after presenting master controller"
I cannot seem to figure out why I'm getting a (lldb) crash with no thread details when I tap or swipe anywhere on the screen when presented from a view controller that is inside a navigation bar controller which is in a tabbarcontroller I have tried presenting it from the self.present as well as self.tabbarcontroller.present. it fails after you touch it. its weird because it renders the control yo

[2017-02-25 01:36] techyowl commented on #90
I have tried to use it by manually including the files and I have also looked through the other issues and cannot figure out why it keeps crashing. I have tried using the app delegates root view controller and the navigation controller to present the view it fails just the same. I have also tried it on a separate storyboard and I have tried disabling user interaction on the page view controllers.

[2017-02-25 01:45] techyowl commented on #90
Current Page 0
2017-02-24 17:44:03.990285 Cache[5362:1675767] -[MTLDebugResource opacity]: unrecognized selector sent to instance 0x174221d00

this is the error response that I'm getting.

2017-02-24 17:44:03.994891 Cache[5362:1675767] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[MTLDebugResource opacity]: unrecognized selector sent to instance 0x174221d00

[2017-02-25 01:48] techyowl commented on #90
this is how I am presenting it.

`
    func opentips(){

    // Get view controllers and build the walkthrough
    let stb = UIStoryboard(name: "WalkThroughs", bundle: nil)
    let walkthrough = stb.instantiateViewController(withIdentifier: "walk") as! BWWalkthroughViewController
    let page_zero = stb.instantiateViewController(withIdentifier: "wt00") as! BWWalkthroughPageViewController
    let p

[2017-02-25 07:44] techyowl commented on #90
I figured it out took me all day but here is what the issue was. I think because I'm presenting the BWWalkThroughViewController from a nested ViewController that is quite complex with auto layout. I needed to change the storyboard with the BWWalkThroughViewController so that its presentation was set to over fullscreen as opposed to the default value in the attributes inspector. setting this allows

[2017-02-25 07:44] #90 closed

[2017-03-13 13:23] MaikoHermans opened #91 "NavigationController doesn't show when the "container view" is embedded in NavigationController"
I'm currently trying to make a walkthrough by using BWWalkthrough
I've followed the tutorial and example codes to get it working. Now I want to add a `NavigationController` to the `Walkthrough`

I did this by embedding the `BWWalkthroughViewController` into a `Navigation Controller`

The `navigation` bar then shows up in the screen and I've added `barbuttons` to it.

However as soon as I run the c

[2017-03-23 02:27] JesusAdolfo opened #92 "Problem dismissing from a webview."

[2017-03-23 02:37] JesusAdolfo opened #93 "Problem dismissing from a webview."
I've been playing with this library all day and noticed there's an issue when you present a webview. In my case, I am using the Instagram Login within my app. But If I open said webview and before logging in, I try to dissmiss it. Using:

`dismissViewControllerAnimated(true, completion: nil)`

something really weird happens, it is like everything breaks. (the app doesn't crash but the walkthrough

[2017-04-01 17:50] AbdulAj opened #94 "Button's Property Next Button in UIStoryBoard"
As u told in your Documentation
"Now that the elements are in place you have to set IBOutlet and IBAction connections:
1) Connect your next button element to the view controller property nextButton (ctrl + click on the button and drag toward the view controller icon)."
i tried a lot but i did't find this property
kindly help

[2017-04-01 17:53] AbdulAj commented on #94
As u told in your Documentation
CONTAINER SETUP

"To create a new container you have just to add a new view controller into the Storyboard, from the Identity Inspector set its class to BWWalkthroughViewController and define a Storyboard ID (I’ve used ”container”)."
then, in which file or class, IBOutlets and actions would be written because we have assigned it BWWalkthroughViewController class whi

[2017-04-01 18:00] AbdulAj opened #95 "CONTAINER SETUP"
As u told in your Documentation

"To create a new container you have just to add a new view controller into the Storyboard, from the Identity Inspector set its class to BWWalkthroughViewController and define a Storyboard ID (I’ve used ”container”)."
then, in which file or class, IBOutlets and actions would be written because we have assigned it BWWalkthroughViewController class which is objective

[2017-04-03 23:33] bmemon201 opened #96 "Is it possible to add buttons to BWWalkthroughPageViewController.swift?"
Im trying to add a few buttons within the pageViewControllers but I keep running into errors.. #

[2017-04-04 10:20] ariok commented on #96
can you provide any useful information about the issue? I really don't know how can I help you otherwise.

[2017-04-04 10:21] ariok commented on #92
I close this issue. We can keep track of it with #93

[2017-04-04 10:21] #92 closed

[2017-04-04 10:23] ariok commented on #91
Interesting, thanks for sharing. I'll check it in the next days (sorry for the late replies guys but I had a really busy month)

[2017-04-04 13:44] bmemon201 commented on #96
Apologies. I am trying to edit the walkthrough so that the pages in the walkthrough contain their own pages. For example page_1 of the walkthrough would ask for user input into a UITextField. On page_2 there would be a label asking for the biological gender with two buttons present, one for Male and another Female. And so on.. My walkthrough currently contains 5 pages, each with some sort of @IBOu

[2017-04-04 15:17] MaikoHermans commented on #91
@ariok For now I did fix it by using a navigation bar and setting the `height constraint` to `70px`

Also useful to mention when you want an `imageview` as the background for all the screens so you set it in the `WalkthroughViewController` all the views are being displayed behind it. Meaning you have to create a custom way to set a background image on a `UIView`

not that big of a problem just fig

[2017-04-05 15:30] ariok commented on #91
got it @MaikoHermans, I keep the issue open and I'll try to solve the `imageView` issue too.

[2017-04-05 15:31] ariok commented on #96
which errors are you experiencing?

[2017-04-05 15:38] ariok commented on #94
closed with #95

[2017-04-05 15:38] #94 closed

[2017-04-05 15:45] bmemon201 commented on #96
Whenever I add @IBOutlet to BWWalkthroughPageViewController.swift and make the connections, the buttons do not appear in the simulator..

[2017-04-05 15:50] bmemon201 commented on #96
open class BWWalkthroughPageViewController: UIViewController, BWWalkthroughPage {

    weak open var delegate:BWWalkthroughViewControllerDelegate?

    @IBOutlet open var maleButton:UIButton?
    @IBOutlet open var femaleButton:UIButton?

[2017-04-07 10:13] Infinite7Soul opened #97 "App doesn't work if I close it"
If I make a double click to close the app and I relaunch it I will see that app doesn't work. How to resolve it?

[2017-04-07 10:40] #97 closed

[2017-04-25 12:04] MojtabaHs opened #98 "RTL Support"
When choosing a RTL language in "Localization native development region" the FW behave odd and jumpy! Beside, order of the pages reversed (not excepted) and scroll direction not changes to RTL.

For testing, just set Localization native development region to some RTL language like "ar" or "fa".

[2017-05-07 11:09] MojtabaHs commented on #98
Any updated yet ?
2,369 persons are waiting 💪

[2017-05-07 13:55] ariok commented on #98
I'm not working on it yet. I received your original message by email before you edited it. As you know, this is open source code, please feel free to edit it  💪🏻 😉 as you wish!

[2017-05-15 10:56] devAlikhani opened #99 "add new pages after walkthrough presentation"
Is it possible to male the users able to add pages? Like, in each page, if the user chose any option, then, according to her choice, the next page gets added to the Walkthrough?

[2017-05-21 22:24] ariok commented on #96
No replies to my message I suppose I can close the issue.

[2017-05-21 22:24] #96 closed

[2017-05-21 22:28] ariok commented on #87
Still no replies after 3 months. I close the issue feel free to open it again when you will be able to provide more info.

[2017-05-21 22:28] #87 closed

[2017-05-22 20:38] ariok commented on #99
BWWalkthrough wasn't meant to be used in that way, anyway you could dynamically add a new view controller with
`func add(viewController:UIViewController)`, the same function that use use to initialize the walkthrough pages. Every times that you call the `add` function all the constraints are updated and you should be able to get the new controller attached at the end of the "pages" list.

[2017-05-22 21:03] ariok commented on #93
hello, do you mind to share your code? I'm not able to reproduce the issue you are reporting.

[2017-05-22 21:09] ariok commented on #91
I close the issue since it seems to be a very specific case of your app UI.  You are faking a navigation bar but the navigation implemented by the Walkthrough doesn't need it... your solution seems to work correctly for your needs 👍

[2017-05-22 21:09] #91 closed

[2017-05-22 21:10] ariok commented on #86
I close the issue since I cannot reproduce it. Please feel free to open it again providing more information.

[2017-05-22 21:10] #86 closed

[2017-05-23 06:13] #99 closed

[2017-05-29 14:16] MojtabaHs commented on #98
#100 Please take a look 💪

[2017-05-30 20:51] grantv9 opened #101 "BWWalkthrough fails due to 'NSUnknownKeyException'"
I am trying to implement BWWalkthrough in my app that is based off a NavigationController. I followed the tutorial but every time I try to run my app, I get this error:

The iCloudLabel is a label I have in one of my app's views (not the main view) and all of its IB outlets are connected correctly, so I am confused why that is throwing an error. I tried changing how the BWWalkthrough is shown (bas

[2017-06-02 08:12] ariok commented on #93
I cannot reproduce the issue. Feel free to open it again with more information

[2017-06-02 08:12] #93 closed

[2017-06-02 08:18] ariok commented on #101
Hello, there is something strange in your setup here. Can you check if in the storyboard identity inspector for that view controller you have added your custom view controller and not `BWWalkthroughPage` as custom class? it seems that you are trying to link the `iCloudLabel` outlet to a `BWWalkthroughPage` directly, you should instead create your custom subclass of `BWWalkthroughPage` and add you

[2017-06-02 20:39] grantv9 commented on #101
It looks like I forgot to change the pages to subclasses of `BWWalkthroughPage` - they were still `UIViewController`s. It works now, thanks for the help!

[2017-06-02 20:39] #101 closed

[2017-06-14 20:13] ariok commented on #98
@MojtabaHs I tried your code. When I launched the example it wasn't working properly (all the views were at wrong positions). I'll be glad to include your code in the next version! I keep the issue open.

[2017-06-15 08:52] MojtabaHs commented on #98
Yes you are right. I forgot to check LTR after fixing RTL. What a shame. But I will fix it as soon as possible. This excelent framework should work for all nations.

[2017-06-29 14:03] sbernaldo-visual opened #104 "Update to Swift 3"
When the project will be updated to Swift 3?

[2017-06-29 14:05] ariok commented on #104
September 16th 2016 :P https://github.com/ariok/BWWalkthrough/commit/3006fe67c0848c433cb76799096ea8317e4ab679

[2017-06-30 19:42] hernangonzalez opened #105 "Z order affects staticTags"
Hello Guys,

Found that if a view with a static tag included to filter the animations, is found, the views that follow will not be animated. Even though they are not included in the staticTags property.

Note: thanks for the lib, saved me a lot of time ;).

Thanks,
H.

[2017-07-03 09:40] #104 closed

[2017-07-05 03:48] objectivechris opened #106 "Scrolling forward only"
Is there a way to prevent a user from scrolling backwards? I want it to go only go forward.

[2017-07-21 13:48] cianiandreadev opened #107 "Swift 4 Xcode 9"
I'm trying to use your library on Xcode 9 (beta2) and Swift 4, running on iOS 10.3.
I "installed" the library using pod and everything succeeded.

I followed the guide you linked and everything seems working correctly **except** the animation effects. I added the following settings in my controllers (see picture)
<img width="221" alt="screen shot 2017-07-21 at 15 45 33" src="https://user-images.gi

[2017-07-31 12:38] ariok commented on #106
Hello this feature is not available. You could just disable user interaction from the scrollview and remove the "previous page" button.

[2017-08-01 15:37] nighthawk commented on #106
You might be able to do this by adjusting the content size and content offset. You'll then even get the nice bouncy effect. I did a similar thing in a project where we temporarily disable scrolling to the next page until a certain action is taken:

[code]

Disabling the previous page would be more elaborate though as you'd have to change the offset, too, which might mess with the internals of `BWW

[2017-10-19 12:15] ariok commented on #107
Sorry for the late reply I've checked it with Xcode 9 and I cannot reproduce the issue you are reporting. Are you still experiencing it?

[2017-10-19 14:13] ariok commented on #106
I'm closing the issue since is not going to be included in the next releases.

[2017-10-19 14:13] #106 closed

[2017-11-13 16:05] #107 closed

[2017-12-27 15:49] pionl opened #110 "XCode 9.2 / Swift 4 - selector required @objc tag"
func pageControlDidTouch() functions needs `@objc` tag to support latest Xcode version.

[2018-01-30 15:43] juanxodj opened #111 "How do I connect my UI elements with the outlets already created?"
I've tried everything but I can not connect my buttons or the page control.

[2018-01-30 15:55] #111 closed

[2018-02-11 09:20] reenaphilip commented on #98
Is the RTL support done?

[2018-02-26 15:49] ariok commented on #98
@reenaphilip no it has not been implemented. The previous pull request wasn't working correctly.

[2018-02-26 16:28] ariok commented on #110
Fixed with 14b749e655738551da9c123ba64e8b4f46ae24fe

[2018-02-26 16:28] #110 closed

[2018-02-26 17:23] ariok commented on #105
Can you provide more information? I'm trying to reproduce the issue without success.

[2018-03-14 14:14] ariok commented on #105
yes :P do you mind to share the steps to reproduce the issue?
From my understanding, let's say you are adding a view with tag 5 to the static views, then even views with tags 6, 7, whatever-gt-5 become static.

[2018-04-11 18:01] pprevalon opened #114 "How can i use this without story board"
How can i use this without story board only code
I try the code below but does not work.
[code]

[2018-04-12 15:30] alexgofman opened #115 "Make my own animations problem"
Hi,

I am trying to make my own animation when BWWalkthroughPageViewController launches

Basically I put my code into viewDidLoad

UIView.animate(withDuration: 5, animations: {
			self.screen_2_rocketImg.frame = CGRect(x: 0, y: 127, width: 375, height: 337)
		}) { (finished) in
			self.screen_2_astronautBgImg.isHidden = false
			self.screen_2_astronautBgImg.frame.size.width += 20
			self.screen_2_

[2018-06-12 13:00] ariok commented on #115
Sorry for the very late reply. I think you are releasing the view controller (or the object that is handling the animation that you are referring to withing the closure with `self`) before the closure is executed...

[2018-06-25 12:52] marceden opened #116 "How to call nextPage() from a child page/ViewController?"
Since I don’t have any Buttons connected to the Prev/Next-outlets on the master I want to call the nextPage() method from a page itself.
I would like to have a button in my pages (each button will be individual formatted, so it can't be on the master). That button should trigger the nextPage() method. How do I get access from a page to this method?

[2018-07-22 04:37] wonathanjong opened #118 "Problem with init() when subclassing BWWalkthrough"
While trying to implement the cocoa pod, BWWalkthrough, into my current project programmatically, I ran into a problem with the init functions/inheritance.

I tried to subclass BWWalkThroughViewController in my own class GetStartedViewController where I define buttons and pagecontrollers.

Here is the code from BWWalkThroughViewController which is a subclass of UIViewController:

[code]
But when I

[2018-09-12 18:46] christiankm opened #119 "Upgrade BWWalkthrough to Swift 4.2"
Please make a new release targeting and built with Swift 4.2

[2018-10-03 14:00] KompoD commented on #119
Is this project alive?

[2018-10-03 15:00] ariok commented on #119
Hello @KompoD yes, it is still alive... I'll do my best to find time to update it and include new features as soon as possible.

[2018-10-03 15:14] ariok commented on #115
I'm closing this since my previous answer seems have resolved it.

[2018-10-03 15:14] #115 closed

[2018-10-03 15:15] ariok commented on #114
Where are you encountering issues exactly? I don't understand your request...

[2018-10-03 16:57] #119 closed

[2018-10-25 09:07] Tripwire999 opened #120 "Deployment target changed to iOS 10.0"
Hi,

I noticed the deployment target was changed to iOS 10.0. Is there a reason for this? I'm still targeting iOS 9.0 so now I can't use your lib anymore.

Thx!

[2018-10-25 10:18] ariok commented on #120
Please consider this as bug! I'll try to push a quick fix next week.

[2018-12-10 19:11] jjnino commented on #120
any update on this?

[2018-12-13 13:47] #120 closed

[2018-12-13 14:46] ariok commented on #116
It seems the issue can be closed.

[2018-12-13 14:46] #116 closed

[2018-12-13 14:46] #114 closed

[2018-12-13 14:48] #105 closed

[2018-12-13 16:44] jjnino commented on #120
Thanks so much!

[2019-07-28 09:54] imjn opened #125 "Is there a way to hide pageControl in specific page?"
I want to hide the `pageControl` in 4th page.
So I did like this
[code]
`self.pageControl?.isHidden = true` is called but `self.pageControl` is always nil and not being hidden.

How can I hide the `pageControl` ?

Thank you in advance :)

[2019-08-27 09:49] mohamadakmalshukri opened #128 "How to make auto redirect(slide) user to previous page inside custompageviewcontroller ?"
I have two custom page of viewcontroller like "CustomPageViewController" in this project.

Lets say, CustomPageViewControllerA and CustomPageViewControllerB. While user slide forward to CustomPageViewControllerB but they not finish fill the form inside CustomPageViewControllerA yet then i want make it will auto redirect them to previous page (CustomPageViewControllerA) ?

[2019-09-03 11:54] ChrisPearce opened #129 "Swift Package Manager support"
It would be very helpful if Swift Package Manager was supported by including a Package.swift file.

[2019-12-25 14:47] dornaCp commented on #98
Is there any update on RTL?
Is there any workaround?

[2019-12-27 11:44] ariok commented on #98
I'll not add RTL soon. I'm working at a complete rework of this library with SwiftUI.

[2019-12-27 11:44] #98 closed

[2019-12-27 11:46] ariok commented on #129
I'm doing a complete porting of BWWalkthrough to SwiftUI. There I will add SPM support but I'm not planning to add other features to this version of the library.

[2019-12-27 11:52] ariok commented on #125
The issue seems to be related to your implementation, not to BWWalkthrough... you should be sure that pageControl is initialized by your code somehow,

[2019-12-27 11:58] ariok commented on #128
You could implement the logic on your code to check on `walkthroughPageDidChange` if your requirements for that page are fulfilled, or you could block the scrollview until the user filled the form ( `scrollview ` is a public property of `BWWalkthroughViewController`).

[2019-12-27 11:58] #128 closed

[2020-04-13 16:48] rshev commented on #129
Hey! It seems `4.0.1` tag which supposed to include SPM support is not there (maybe not pushed). Any chance you'd push it please?

[2020-05-16 13:48] ariok commented on #129
Fixed with 0a35c322c01bc7aafef28bbc362800057f940ead

[2020-05-16 13:48] #129 closed

[2020-05-16 13:49] ariok commented on #125
No answers after 5 months. I'm closing the issue.

[2020-05-16 13:49] #125 closed

[2020-05-17 09:22] Vanessa-06 opened #132 "swift5 compatibility?"
Hello - great design / walkthrough - really great! Trying to download this project and to run in latest Xcode and set it up with swift 5 - but getting a lot of errors at compile time 50+ ; lots of method change etc... is there an upgrade for swift 5 please?
Thank you

[2020-05-17 15:34] ariok commented on #132
The project has been moved to swift 5 one year ago https://github.com/ariok/BWWalkthrough/commit/15dec421c583a4f8a3edbb77b2737f79b1c790c7 exactly which kind of issue are you experiencing?

[2020-05-17 19:26] Vanessa-06 commented on #132
Thank you Ariok. I have re-tried to download now and rebuild and it works like a charm - I am sorry I must have dowloaded an old version by mistake. Thank you again

[2020-05-17 19:26] #132 closed

[2021-09-21 15:32] jeanbaptistebeau commented on #118
Getting same issue

[2022-06-26 23:28] magnett opened #134 "Walkthrough"